*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

main{
	margin: 50px auto;
	width: 960px;
}



.step-img1{
	background-image: url(img/flow01.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}

.step-img2{
	background-image: url(img/flow02.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.step-img3{
	background-image: url(img/flow03.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.step-box{
	width:300px;
	float: left;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	border: 1px solid #eee;
}
.step-box:last-child{
	margin-right: 0;
}
.step-num{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FF9A4B;
	color: #fff;
	padding: 3px;
}

.title{
	margin: 15px 0 5px;
}

@media screen and (max-width: 768px){
	main{
		width: 100%;
	}

	.step-box{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
}